{% extends "base.html" %}
{% block content %}
<div class="container pt-5 pb-5">


	{% for key, val in feed.items() %}
	<div class="form-floating mb-3">
		<input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="name@example.com" value="{{ val }}">
		<label for="floatingPlaintextInput">{{ key }}</label>
	</div>
	{% endfor %}

	<hr>

	{% for key, val in feed["entries"][0].items() %}
	<div class="form-floating mb-3">
		<input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="name@example.com" value="{{ val }}">
		<label for="floatingPlaintextInput">{{ key }}</label>
	</div>
	{% endfor %}

	<div class="accordion accordion-flush" id="accordionFlushExample">
		{% for f in feed["entries"] %}

		<div class="accordion-item">
			<div class="accordion-header border p-0 m-0 d-flex align-content-center">
				{% if f.get("media_thumbnail") %}
				<img
				src="{{ f['media_thumbnail'][0]['url'] }}"
				class="" style="width: 100px; height: 72px;"
				alt="...">
				{% endif %}
				<div class="flex-colum px-2">
					<div class="text-truncate">
						<strong>
							{{ f['title'] }}
						</strong>
					</div>
					<div class="">
					</div>
					<small>{{ f['published_parsed'] }}</small>
					<div class="vr ms-2 me-2"></div>
					<a href="{{ f['link'] }}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">link</a>
				</div>
				<button class="accordion-button collapsed p-0 pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ loop.index }}" aria-expanded="false" aria-controls="flush-collapseThree">
				</button>
			</div>
			<div id="flush-collapse-{{ loop.index }}" class="bg-dark text-light accordion-collapse collapse border rounded-4 rounded-top-0" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					{{ f['summary'] }}
				</div>
			</div>


			{% endfor %}
		</div>


	</div>
	{% endblock %}
