{% extends "base.html" %}
{% block content %}

<h1>Sources</h1>

<hr>

<h3>How to Add a News Source by URL</h3>
<p>To add a news source to your News Aggregator, follow these simple steps:</p>
<ol>
    <li>Go to the "Add Source" section of the platform.</li>
    <li>Enter the URL of the news source's RSS feed in the provided field.</li>
    <li>Click "Submit" to add the source.</li>
    <li>The system will verify the URL and start fetching articles from this source.</li>
</ol>
<p>Once added, articles from the new source will appear in your news feed.</p>

<form class="mb-3 p-3 border" id="source-form" hx-post="/sources/new" hx-trigger="submit" hx-swap="innerHTML" hx-target="#create_new_source_msg">
    <div class="mb-3">
        <label for="urlInput" class="form-label">Add Source</label>
        <input type="text" name="url" class="form-control" id="urlInput" aria-describedby="urlHelp">
        <div id="urlHelp" class="form-text">Enter the url for the new RSS source.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div id="create_new_source_msg" class="alert alert-danger rounded-0" role="alert">
    MSG goes here
</div>

<div class="border p-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Refresh</th>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Subtitle</th>
                <th scope="col">URL</th>
                <th scope="col">Language</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>

            {% for item in items %}
            <tr id="table_line_{{ item.id }}">
                <td>
                    <button class="btn btn-secondary" type="submit" hx-get="/sources/refresh?id={{ item.id }}" hx-target="#refresh_{{ item.id }}">refresh {{ item.id }}</button>
                    <p id="refresh_{{ item.id }}"></p>
                </td>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.title }}</td>
                <td>{{ item.subtitle }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.language }}</td>
                <td>
                    <button class="btn btn-primary" type="submit" hx-delete="/sources/?id={{ item.id }}" hx-target="#table_line_{{ item.id }}">Delete {{ item.id }}</button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}
