{% extends "base.html" %}
{% block content %}

<div class="container pb-3">
    <h2>Articles Ordered by Source</h2>
    <p>Within each source section, you’ll find a list of articles that have been published by that source. Each article is presented with summary of its content.</p>
</div>

<div class="accordion accordion-flush border" id="accordionFlushSources">

    {% for source in items %}

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-coll-source-{{ source.id }}" aria-expanded="false" aria-controls="flush-coll-source-{{ source.id }}">

                <div class="container">
                    <div class="row align-items-start">
                        <div class="col-3">
                            <strong> {{ source.title }} </strong> 
                        </div>
                        <div class="col">
                            {{ source.subtitle }}
                        </div>
                    </div>
                </div>

            </button>
        </h2>
        <div id="flush-coll-source-{{ source.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlush{{ source.id }}">
            <div class="accordion-body">

                <div class="accordion accordion-flush border" id="accordionFlushExample">

                    {% for article in source.articles %}

                    <div class="accordion-article">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ article.id }}" aria-expanded="false" aria-controls="flush-collapse-{{ article.id }}">

                                <div class="container">
                                    <div class="row align-items-start">
                                        <div class="col-3">
 u                                           <strong> {{ article.date_published }} </strong> 
                                        </div>
                                        <div class="col">
                                            {{ article.title }}
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </h2>
                        <div id="flush-collapse-{{ article.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlush{{ article.id }}">
                            <div class="accordion-body">

                                {{ article.summary | safe }}

                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}
