{% extends "base.html" %}
{% block content %}



<div class="col-8 m-0 p-0">
	<div>
		<div>
			<h1 class="container">Feed</h1>
		</div>

		<div class="list-group rounded-0">
			{% for item in items %}
			<a href="#" class="list-group-item list-group-item-action text-truncate">

				<div class="container text-center">
					<div class="row align-items-start">
						<div class="col-1">
							<i class="bi bi-bookmark"></i>
						</div>
						<div class="col-2 text-truncate">
							<span class="badge text-bg-primary">{{ item.id }}</span>
						</div>
						<div class="col-4 text-truncate">
							<strong>
								{{item.title }}
							</strong>
						</div>
						<div class="col-5">
							{{ item.content }}
						</div>
					</div>
				</div>

			</a>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
