{% extends "base.html" %}
{% block content %}

<div class="container p-5">
    <h1>Main Content</h1>
    <p>This is the main content area which takes the remaining space.</p>
</div>


<div class="container card bg-dark-subtle p-5">

    <form>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="subtitle" class="form-label">Subtitle</label>
            <input type="text" class="form-control" id="subtitle">
        </div>
        <div class="mb-3">
            <label for="url" class="form-label">URL</label>
            <input type="text" class="form-control" id="url">
        </div>
        <div class="mb-3">
            <label for="language" class="form-label">Language</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>choose language...</option>
            <option value="pt-br">Portguês</option>
            <option value="en">English</option>
        </select>
        </div>
        <button type="submit" class="btn btn-dark">Create</button>
    </form>

</div>

<ol class="list-group list-group-numbered">

    {% for item in items %}

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">{{ item.title }} - {{item.subtitle}}</div>
        {{ item.url }}
    </div>
    <span class="badge text-bg-primary rounded-pill">{{ item.id }}</span>
  </li>

    {% endfor %}

</ol>

{% endblock %}
