{% extends "pages/sources.html" %}
{% block sources_table %}
<div class="alert alert-{{ alert_type }} rounded-0 hstack gap-3" role="alert">
    <div class="p-2">
        {{ msg }}
    </div>
    <div class="p-2 ms-auto">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

    <div class="border p-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Subtitle</th>
                    <th scope="col">URL</th>
                    <th scope="col">Language</th>
                    <th scope="col">date_created</th>
                    <th scope="col">Refresh</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody hx-target="closest tr" hx-swap="outerHTML swap:1s">

                {% for item in items %}
                <tr id="table_line_{{ item.id }}">
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.subtitle }}</td>
                    <td>{{ item.url }}</td>
                    <td>{{ item.language }}</td>
                    <td>{{ item.date_created }}</td>
                    <td>
                        <button class="btn btn-light rounded-0" hx-get="/sources/refresh?id={{ item.id }}">
                            <span><i class="bi bi-arrow-clockwise"></i></span>
                            <p id="refresh_{{ item.id }}"></p>
                        </button>
                    </td>
                    <td hx-confirm="Are you sure?">
                        <button class="btn btn-light rounded-0" hx-delete="/sources/?id={{ item.id }}">
                            <span><i class="bi bi-x-circle-fill"></i></span>
                        </button>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
